@model Text_Editor.Models.FileModel

@{
	ViewData["Title"] = "Edit";
}

<partial name="_MessagePartial" />

<h1>@Model.Name</h1>

<form asp-action="Edit">
	<div class="form-control" id="content" contenteditable="true" style="height:fit-content">@Html.Raw(Model.Content)</div>
	<input type="hidden" name="userID" value="@Model.UserID" />
	<input type="hidden" name="name" value="@Model.Name" />
	<input type="hidden" name="Content" />
	<br />
	<input type="submit" value="Save" class="btn btn-primary" onclick="this.parentElement.Content.value=document.getElementById('content').innerHTML;" />
</form>